.name {
  text-align: left;
  width: 20%;
}
.directory {
  text-align: right;
  padding-left: 20px;
  padding-right: 20px;
}

.head {
  margin-top: -5px;
  background-color: MediumSeaGreen;
}
.head p{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  width: 100%
}

.head a:visited{
  color: DarkSlateGray;
}
.head a:hover{
  color: DarkBlue;
}

.main-body {
  display: inline-block;
}
