.name {
  text-align: left;
  width: 10%;
}
.directory {
  text-align: right;
  width: 15%;
}

.head {
  background-color: MediumSeaGreen;
}
.head p{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.head a:visited{
  color: DarkSlateGray;
}
.head a:hover{
  color: DarkBlue;
}

.main-body {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}
